<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Alunos:</h1>
    <ul>
        
        <!-- {% for i in alunos %}
            <li><a href="./detalhe.html {{ i.id }}">{{ i.nome }} {{ i.idade }}</a> </li>
        {% endfor %} -->

        {% for i in alunos %}
        <li><a href="detalhe.html">{{ i.nome }} {{ i.idade }}</a></li>
        {% endfor %}

        <!-- {% for x in mymembers %}
             <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
        {% endfor %} -->

    </ul>
</body>
</html>